.logoutButton {
  padding: 12px 25px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 1rem;
  transition: 0.3s ease;
}

.logoutButton:hover {
  background-color: #c0392b;
  transform: translateY(-2px);
}
